<%= erb :_search %>

<h2>Submit a new Gif</h2>
<div class="well well-lg">
<form class="form-inline" method="get" name="gif" action="/submit">
    <div class="form-group form-group-lg">
    <label for="url"></label>
    <input type="text" class="form-control" id="url" placeholder="Gif URL" name="url" size="40">
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
</div>

<h3>Recent Submissions</h3>
<div class="row">
  <% @recent.each do |gif| %>
    <div class="col-xs-6 col-md-3">
      <a href="/gif/<%= gif.id %>" title="<%= gif.caption %>" class="thumbnail"><img src="<%= gif.source %>"></a>
      <p><% gif.tag_list.each do |tag| %>
            <a class="label label-info" href="/search?search=<%= tag %>"><%= tag %></a>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
